.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Application css */

.display-flex {
  display: flex;
  flex-direction: row
}

.flex-1 {
  flex: 1;
}

.filter-container {
  justify-content: space-around;
}

.filter-container div {
  align-items: center;
}

.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 300px;
  flex-shrink: 0;
  height: 400px;
  margin: 20px;
}

.image-container {
  flex: 2;
}

.details-container {
  flex: 1;
  background-color: #fd3753;
  color: #fff;
  border-radius: 0 0 4px 4px;
}

.prop-image {
  height: 100%;
  width: 100%
}

.rc-slider {
  width: 200px !important;
}

.rc-slider-track {
  background-color: #fd3753 !important;
}

#photoAvailable {
  margin: 10px 20px;
  height: 20px;
  width: 30px;
}

.reset-btn {
  height: 30px;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #fd3753;
  color: #fff;
  border: none;
}